.containerGrid_card {
    margin-top: 20px;
    margin-left: 50px;
    width: 260px;
    height: 450px;
    justify-content: center;
    background-color: #1F1B17;
    border-radius: 8px;
    padding: 0;

    transition: all ease 0.2s;
}

.containerGrid_card:hover {
    transform: scale(1.15);
}

.containerGrid_card_icon {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.containerGrid_card_icon_titulo {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    color: #f5b32e4d;
    padding-top: 6px;
    font-size: 22px;
}

.containerGrid_card_descricao {
    display: flex;
    color: #777777;
    margin-left: 18px;
    width: 214px;
    height: 165px;
    font-size: 18px;
}

.containerGrid_card_parceria {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: -28px;

    color: #cfcfcf;
    font-family: "Sedan SC", serif;
}