@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&family=Sedan:ital@0;1&display=swap');

.servicos2 {
  height: auto;
  min-height: 40vh;

  background-color: #2c2c2c;
  color: #fff;
}

.servicos2_Plan {
  color: #C2A73E;
}