@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&family=Sedan:ital@0;1&display=swap');

.servicos1 {
  height: auto;
  min-height: 50vh;

  background-color: #100F0D;
  color: #fff;
}

.servicos1_Plan {
  color: #A6A6A6;
}